# Ignorer les fichiers volumineux
wp-content/uploads/2024/10/20-Years-V7.mp4
wp-content/uploads/2024/10/Fing-Done-Portrait.mp4
wp-content/uploads/2024/10/marketing-jargon-clip.qt
# Ignorer les fichiers volumineux
wp-content/uploads/2024/10/20-Years-V7.mp4
wp-content/uploads/2024/10/Fing-Done-Portrait.mp4
wp-content/uploads/2024/10/marketing-jargon-clip.qt

